@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Montserrat:wght@100&display=swap');

$primary-font: Dosis;
$heading: Marck Script;
$title: Montserrat;

$primary-font-color: #575757;
$secondary-font-color: #DB8D33;
$taskbar-font-color: white;





